.example-card {
    margin-top: 30px;
    max-width: 400px;
    justify-content: center;
    align-items: center;
    display: inline-block;
    margin-left: 20px;
  }
  
  .container{
    max-width: 3000px;
    justify-content: center;
    align-items: center;
    display: flex;
    
  }

  .mat-card-image{
    width: 400px;
    
  }

  .tituloDiv{
    background: 0 0;
    clear: both;
    min-height: 10px;
    padding-bottom: 20px;
    overflow: visible;
    width: 100%;
    background-color: #0166b4;
    padding: 20px 3.5%;
    overflow: hidden;
    margin: 0;
}

.titulo{
    margin-top:50px;
    font-size: 70px;
    font-family: sans-serif, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    color: white;
}


@media (max-width: 800px){
    .titulo{
        font-size: 35px;
        text-align: center;
        margin-top: 0px;
        
    }
    .example-card {
    
      display: flow-root;
      bottom: 20px;
      
      }

      .mat-card-image{
        width: 313px;
        
      }
    
      .container{
        display: contents;
        
      }
   

}

  