<div class="tituloDiv">
    <h1 class="titulo">Leonardo Rizick</h1>
</div>

<div class="container">
    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>GitHub</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            Portfolio pessoal onde posto meus principais trabalhos, sinta-se a vontade para dar uma olhada ;)
          </p>
        </mat-card-content>
        <mat-card-actions>
          <a mat-button href="https://www.github.com/leorizick">Ir!</a>
        </mat-card-actions>
      </mat-card>

      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Linkedin</mat-card-title>
        </mat-card-header>
        <img mat-card-image class="linkedin" src="https://cdn-icons-png.flaticon.com/512/49/49408.png">
        <mat-card-content>
          <p>
            Veja meu perfil no Linkedin, estou sempre atualizando com novos cursos, e estou aberto a propostas!
          </p>
        </mat-card-content>
        <mat-card-actions>
          <a mat-button href="https://www.linkedin.com/leorizick">Ir!</a>
        </mat-card-actions>
      </mat-card>

      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Email</mat-card-title>
        </mat-card-header>
        <img mat-card-image class="linkedin" src="https://cdn-icons-png.flaticon.com/512/95/95612.png">
        <mat-card-content>
          <p>
            Quer entrar em contato comigo? Me mande um e-mail! Responderei o mais rapido possivel.
          </p>
        </mat-card-content>
        <mat-card-actions>
            <a mat-button href="mailto:leorizick@hotmail.com">Ir!</a>
        </mat-card-actions>
      </mat-card>
    


</div>