.teste{
    text-align: end;
    font: bold;
    color: white;
}

.border{
    border-radius: 50%;
}

.bottom{
    margin-bottom: 0px;
}

@media (max-width: 800px){
    .teste{
        text-align: start;
    }
}

