.tituloDiv{
    background: 0 0;
    clear: both;
    min-height: 10px;
    padding-bottom: 20px;
    overflow: visible;
    width: 100%;
    background-color: #0166b4;
    border-bottom: 1px solid #c8cbd4;
    position: relative;
    padding: 20px 3.5%;
    overflow: hidden;
    margin: 0;
}



.titulo{
    margin-top:50px;
    font-size: 70px;
    font-family: sans-serif, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.card-img-top{
    width: 285.99px;
    height: 200px;

}

section {
    display: table;
  }
  
  .example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
  }
  
  .example-button-row {
    display: table-cell;
    width: 490px;
  }
  
  .example-button-row .mat-button-base {
    margin: 8px 8px 8px 0;
  }
  
  .example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }



  @media (max-width: 800px){
    .titulo{
        font-size: 35px;
        text-align: center;
        margin-top: 0px;
        
    }

  }