.tituloDiv{
    background: 0 0;
clear: both;
min-height: 10px;
padding-bottom: 20px;
overflow: visible;
width: 100%;
background-color: #0166b4;

position: relative;
padding: 20px 3.5%;
overflow: hidden;
margin: 0;
}

.titulo{
margin-top:50px;
font-size: 70px;
font-family: sans-serif, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
align-items: center;
justify-content: center;
text-align: center;
color: white;
}

.subtitle{
margin-top: 20px;
font-size: 40px;
color: black;
}


.teste{
    align-items: center;
    justify-content: center;
    display: inline-block;
    margin-top: 50px;
    margin: 10px 0;
    text-align: center;
    }

.numerosDiv{
    text-align: center;
    padding-left: -50px;
    }

.numeros {
align-items: center;
justify-content: center;
text-align: center;
margin-top: 50px;
background: #adc0c4;
border-radius: 186px;
color: #fff;
cursor: pointer;
display: block;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-display: swap;
font-size: 21px;
line-height: 57px;
padding: 0;
position: relative;
text-align: center;
text-decoration: none;
width: 57px;
}

.button{
margin-top: 50px;
text-align: center;
}

.btn btn-primary{
text-align: center;
justify-content: center;
margin-top: 20px;
font-size: 30px;
}


@media (max-width: 800px){
    .titulo{
        font-size: 50px;
        margin-top: 20px;
    }
    .button{
        width: 50%;
        margin-top: 10px;
    }
    .subtitle{
        font-size: 30px;
        text-align: center;
    }
    .numerosDiv{
        text-align: center;
        margin-right: 10px;
    }
    .numeros{
        margin-top: -15px;
        margin-right: 15px;
    }
    .btn{
        margin-left: -65px;
        margin-top: -30px;
     }
   

}